{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<h1 class="my-3">Toutes les séries de la catégorie
			{{ category.name}}
			:</h1>
		<table class="table ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Résumé</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for program in programs %}
					<tr>
						<td>{{program.id}}</td>
						<td>{{program.title}}</td>
						<td>
							<p>{{program.summary}}</p>
						</td>
						<td>
							<a class="btn btn-primary" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
						</td>

					</tr>
				{% else %}
					Aucune série trouvée.
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('program_index') }}">
			Retour à l'accueil
		</a>

	</div>
{% endblock %}